.timeline {
  list-style: none;
  position: relative;
  padding-left: 2em;
}

.timeline-entry {
  position: relative;
}

.timeline-entry-date {
  color: #FC735C;
  float: right;
  font-style: italic;
  line-height: 2.5;
  padding-left: 0.5em;
}

.timeline-entry-company {
  color: #FC735C;
  font-weight: normal;
  font-size: 1.25em;
  line-height: 2;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.timeline-entry-company a {
  border-bottom: 0;
}

.timeline-entry-company a::after {
  bottom: 0.3333em;
}

.timeline-entry-position {
  font-size: 1.25em;
  line-height: 2;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.timeline-entry h2,
.timeline-entry h3 {
  margin: 0;
  padding: 0;
  max-width: none;
  text-align: left;
}

.timeline-entry p {
  margin: 0;
  padding: 0;
  margin-bottom: 2em;
  max-width: none;
}

@media screen {

  .timeline .timeline-entry * {
    transition: opacity 0.25s linear;
  }

  .timeline .timeline-entry a {
    transition: opacity 0.25s linear, color 0.25s linear;
  }

  .timeline:hover .timeline-entry * {
    opacity: 0.5;
  }

  .timeline .timeline-entry:hover * {
    opacity: 1;
  }

}

.timeline-entry::after,
.timeline-entry::before {
  content: "";
  position: absolute;
}

.timeline-entry::before {
  top: 1em;
  width: 0.25em;
  left: 0.8725em;
  background: #B3B1A4;
  height: 100%;
}

.timeline-entry::after {
  width: 2em;
  height: 2em;
  background: url("images/item.svg") no-repeat center;
  left: 0;
  top: 0;
  z-index: 1;
  animation: timeline-spin 2s linear infinite;
  transition: background 0.25s linear;
}

.timeline-entry:hover::after {
  background: url("images/item-hover.svg") no-repeat center;
}

.timeline-entry {
    padding: 0 0 1em 3em;
}

.timeline-entry:last-child::before {
  display: none;
}

@keyframes timeline-spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
