.timeline {
  list-style: none;
  position: relative;
  padding-left: 2em;
}

.timeline::before {
  position: absolute;
  content: "";
  display: block;
  width: 0.25em;
  background: #98949D;
  height: 100%;
  left: 2.5em;
}

.timeline-entry {
  position: relative;
  padding-left: 2em;
}

.timeline-entry-date {
  color: #FC735C;
  float: right;
  font-style: italic;
}

.timeline-entry-company {
  color: #FC735C;
  font-weight: normal;
  font-size: 1.25em;
  line-height: 2;
  margin: 0;
}

.timeline-entry-company a {
  border-bottom: 0;
}

.timeline-entry-position {
  font-size: 1.25em;
  line-height: 2;
  margin: 0;
}

.timeline-entry h2,
.timeline-entry h3 {
  margin: 0;
  padding: 0;
  max-width: none;
  text-align: left;
}

.timeline-entry p {
  margin: 0;
  padding: 0;
  margin-bottom: 2em;
  max-width: none;
}

.timeline-entry::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0.5em;
  width: 0.75em;
  height: 0.75em;
  border: 0.25em solid #FFFFFF;
  background: #98949D;
  border-radius: 1.25em;
  transition: background 0.25s ease-in-out;
}

.timeline-entry:hover::before {
  background: #FC735C;
}

.timeline .timeline-entry * {
  transition: opacity 0.25s ease-in-out;
}

.timeline:hover .timeline-entry * {
  opacity: 0.5;
}

.timeline .timeline-entry:hover * {
  opacity: 1;
}
