.timeline {
  list-style: none;
  position: relative;
  padding-left: 2em;
}

.timeline-entry {
  position: relative;
  overflow: hidden;
}

.timeline-entry-date {
  color: #FC735C;
  float: right;
  font-style: italic;
  line-height: 2.5;
  padding-left: 0.5em;
}

.timeline-entry-company {
  color: #FC735C;
  font-weight: normal;
  font-size: 1.25em;
  line-height: 2;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.timeline-entry-company a {
  border-bottom: 0;
}

.timeline-entry-position {
  font-size: 1.25em;
  line-height: 2;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.timeline-entry h2,
.timeline-entry h3 {
  margin: 0;
  padding: 0;
  max-width: none;
  text-align: left;
}

.timeline-entry p {
  margin: 0;
  padding: 0;
  margin-bottom: 2em;
  max-width: none;
}

@media screen {

  .timeline .timeline-entry * {
    transition: opacity 0.25s ease-in-out;
  }

  .timeline:hover .timeline-entry * {
    opacity: 0.5;
  }

  .timeline .timeline-entry:hover * {
    opacity: 1;
  }

}
